<main *ngIf="!isLoading">
    <ng-container *ngIf="!showEditMode">
        <div class="operating-system">
            <h2>{{systemDetails.name}}</h2>
            <div class="desktopEnvironment">
                <div>
                    <img src="{{systemDetails.environment.image}}" alt="" />
                </div>
                <div>
                    <h3>{{systemDetails.environment.name}}</h3>
                    <p>{{systemDetails.environment.description}}</p>
                </div>
            </div>
            <div class="distibution">
                <div>
                    <img src="{{systemDetails.distribution.image}}" alt="" />
                </div>
                <div>
                    <h3>{{systemDetails.distribution.name}}</h3>
                    <p>{{systemDetails.distribution.description}}</p>
                </div>
            </div>
            <div class="publisher">
                <p>publisher {{systemDetails.publisher.name}}</p>
                <div *ngIf="systemDetails.isPublisher">
                    <button class="edit-button" (click)="onToggle()">edit System</button>
                    <button class="delete" type="button" (click)="deleteCurrentSystem(systemDetails._id)">delete System</button>
                </div>
            </div>
        </div>
        <div class="people-opinion">
            <div class="add-comment" *ngIf="isLogged">
                <form [formGroup]="commentaryForm" (ngSubmit)="addComment(systemDetails._id, userId)">
                    <input type="text" formControlName="content" placeholder="Add a comment">
                    <button type="submit">Post</button>
                </form>
            </div>
            <div class="commentaries">
                <p>Commentaries of users</p>
                <div *ngFor="let commentary of commentaryAll" class="user-commentar">
                    <h4 class="user-name">{{commentary.userId.name}}</h4>
                    <p>{{commentary.content}}</p>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="showEditMode">
        <form [formGroup]="formDetails" (ngSubmit)="saveDetails(systemDetails._id)">
            <div class="operating-system">
                <input class="headline" type="text" name="name" formControlName="name" 
                    [value]="systemDetails.name"/>
                <div class="desktopEnvironment">
                    <div class="select">
                        <span>Desktop environment</span>                       
                        <select formControlName="environment">
                            <option *ngFor="let environment of environmentsAll" [ngValue]="environment._id">{{environment.name}}</option>            
                        </select>
                    </div>
                </div>
                <div class="distibution">
                    <div class="select">
                        <span>Distribution</span>
                        <select formControlName="distribution">
                            <option *ngFor="let distribution of distributionsAll" [ngValue]="distribution._id">{{distribution.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="publisher">
                    <p>publisher {{systemDetails.publisher.name}}</p>
                    <div *ngIf="systemDetails.isPublisher">
                        <button class="save-button" type="submit">save System</button>
                        <button class="edit-button" (click)="onToggle()">cancel Edit</button>
                    </div>
                </div>
            </div>
        </form>
    </ng-container>
</main>
