.operating-system {
    margin: 2%;
    border: 3px solid gray;
    border-radius: 10px;
    padding: 1%;
    text-align: center;
}

.desktopEnvironment {
    display: flex;
    padding: 3%;
    background: #beecff;
    border-radius: 10px;
    margin-bottom: 2%;
}

.desktopEnvironment img {
    margin-right: 1em;
    margin-bottom: 1em;
    max-width: 450px;
}

.distibution {
    display: flex;
    padding: 3%;
    border-radius: 10px;
    /* background: #ffb37c; */
    background: #ffd1d1;
}

.distibution img {
    /* width: 16%; */
    max-width: 100px;
    margin-right: 1em;
    margin-bottom: 1em;

}

.commentaries {
    width: 70%;
    margin: 0 auto;
}

.publisher {
    text-align: right;
}

.headline {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.edit-button {
    margin: 0 2% 0 2%;
}

.add-comment form {
    text-align: center;
}

.add-comment button {
    height: 56px;
    vertical-align: top;
    margin-left: 1%;
}

.user-commentar {
    border: 2px solid gray;
    border-radius: 10px;
}

.user-commentar h4,
.user-commentar p {
    margin-left: 7%;
}

.add-comment textarea {
    width: 56%;
    height: 47px;
}

.people-opinion {
    margin: 2% 0;
}