# See http://help.github.com/ignore-files/ for more about ignoring files.

**/node_modules

linux-distributions/.angular/*
linux-distributions/.vscode/
linux-distributions/package-lock.json

#--------------------------------------
# Compiled output
linux-distributions/dist
linux-distributions/tmp
linux-distributions/out-tsc
linux-distributions/bazel-out

# Node
linux-distributions/node_modules
linux-distributions/npm-debug.log
linux-distributions/yarn-error.log

# IDEs and editors
linux-distributions/.idea/
linux-distributions/.project
linux-distributions/.classpath
linux-distributions/.c9/
linux-distributions/*.launch
linux-distributions/.settings/
linux-distributions/*.sublime-workspace

# Visual Studio Code
linux-distributions/.vscode/*
linux-distributions/!.vscode/settings.json
linux-distributions/!.vscode/tasks.json
linux-distributions/!.vscode/launch.json
linux-distributions/!.vscode/extensions.json
linux-distributions/.history/*

# Miscellaneous
linux-distributions/.angular/cache
linux-distributions/.sass-cache/
linux-distributions/connect.lock
linux-distributions/coverage
linux-distributions/libpeerconnection.log
linux-distributions/testem.log
linux-distributions/typings

# System files
linux-distributions/.DS_Store
linux-distributions/Thumbs.db
