main{
    margin: 2%;
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 2%;
    height: 350px;
    vertical-align: top;
}

img {
    max-width: 180px;
    padding: 15px;
}

a {
    border: 3px solid gray;
    border-radius: 10px;
    /* padding: 4%; */
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    background: #eee;
}

a:hover {
    /* background-color: #ffc8a1; */
    /* background-color: #ffaeae; */
    background-color: #ffd1d1;
}

.add {
    max-width: 80%;
    text-align: center;
    align-content: center;
    margin: 0 9%;
}