<main>
    <h2 *ngIf="distributionsAll.length > 0">All distributions reviewed in site</h2>
    <a routerLink="/distribution/add" class="add">add Distribution</a>

    <ul *ngIf="distributionsAll.length > 0">
        <li *ngFor="let distribution of distributionsAll">
            <a class="details" routerLink="/distribution/{{distribution._id}}/details">
                <img src="{{distribution.image}}" />
                <h3>{{distribution.name}}</h3>
                <span>Details</span>
            </a>
        </li>
    </ul>

    <div id="no-distribution" *ngIf="distributionsAll.length == 0">
        <h2>There are no distributions</h2>
    </div>

</main>