<h2>add Linux oparating system you know</h2>
<form #systemAddForm="ngForm" (ngSubmit)="addSystem(systemAddForm)" class="form">
    <!-- #themeAddForm="ngForm" (ngSubmit)="addTheme(themeAddForm)-->
    <!-- "form name in html", formType in html, Angular method for submit, function from class with from name here in html -->
    <div class="systemName">
        <ng-container *ngIf="inputSystemName.touched">
            <p class="error" *ngIf="inputSystemName?.errors?.['required']">
                System must have name.
            </p>
            <p class="error" *ngIf="inputSystemName?.errors?.['minlength']">
                The name must be more than 1 character.
            </p>
        </ng-container>
        <label for="name">Operating system name</label>
        <input type="text" name="name" id="systemName" #inputSystemName="ngModel" ngModel required minlength="2">
    </div>

    <div class="select">
        <span>Desktop environment</span>
        <select name="environment" ngModel>
            <option value="" selected hidden>select desktop environment</option>
            <option *ngFor="let environment of environmentsAll" [ngValue]="environment._id">{{environment.name}}</option>            
        </select>
    </div>
    
    <div class="select">
        <span>Distribution</span>
        <select name="distribution" ngModel>
            <option value="" selected hidden>select distribution</option>
            <option *ngFor="let distribution of distributionsAll" [ngValue]="distribution._id">{{distribution.name}}</option>
        </select>
    </div>
    
    <div class="systemDescription">
        <ng-container *ngIf="textareaSystemDescription.touched">
            <p class="error" *ngIf="textareaSystemDescription?.errors?.['required']">
                It is good to tell something about this desktop environment.
            </p>
            <p class="error" *ngIf="textareaSystemDescription?.errors?.['minlength']">
                It will be better to tell more, atleast 10 characters :)
            </p>
        </ng-container>
        <label for="systemDescription">Description</label>
        <textarea type="text" name="systemDescription" id="systemDescription" rows="3"
            #textareaSystemDescription="ngModel" ngModel required minlength="10"></textarea>
    </div>

    <div class="buttons">
        <!-- <button class="public" (click)="themeAdd($event, inputThemeName.value, textareaEnvironmentDescription.value)">Post</button> -->
        <button>add System</button>
    </div>

</form>
