<main>
    <h2 *ngIf="systemsCount > 0">All Linux operating systems reviewed in site</h2>
    <a *ngIf="isLogged" routerLink="/system/add" class="add">add System</a>

    <!-- {{#if stonesAll}} -->
    <ul *ngIf="systemsCount > 0">
        <!-- {{#each stonesAll}} -->
        <li *ngFor="let system of systemsAll" class="operating-system">
            <a routerLink="/system/{{system._id}}/details">
                <img src="{{system.environment.image}}" />
                <h3>{{system.name}}</h3>
                <p>{{system.environment.name}}</p>
                <p>{{system.distribution.name}}</p>
                <span>Details</span>
            </a>
        </li>
    </ul>

    <!-- if there are no distributions -->
    <div id="no-system" *ngIf="systemsCount == 0">
        <h2>There are no distributions</h2>
    </div>
</main>