<footer>
    <div class="links">
        <h4>Link from used sites</h4>
        <a href="https://kubuntu.org/">kubuntu.org</a>
        <a href="https://www.xfce.org/">www.xfce.org</a>
        <a href="https://fedoraproject.org/">fedoraproject.org</a>
        <a href="https://ubuntu.com/">ubuntu.com</a>
        <a href="https://pop.system76.com/">pop.system76.com</a>
        <a href="https://archlinux.org/">archlinux.org</a>
    </div>
    <div class="information">
        <h4>Information for the project</h4>
        <p>Site showing my skill level with Angular and Node.js</p>
        <p>Theme is Linux distributions</p>
        <p>This project is part from SoftUni JavaScript path</p>
    </div>
    <div class="contacts">
        <h4>Contacts</h4>
        <p>Peter Lazarov</p>
        <p>0898 282 842</p>
        <p>peter_lazarov@hotmail.com</p>
    </div>
</footer>
