<main *ngIf="!isLoading">
    <div class="desktopEnvironment">
        <h2>{{environmentDetails.name}}</h2>
        <div class="information">
            <div>
                <img src="{{environmentDetails.image}}" alt="" />
            </div>
            <div>
                <h3>{{environmentDetails.name}}</h3>
                <p>{{environmentDetails.description}}</p>
            </div>
        </div>
        <div class="publisher">
            <p>publisher {{userName}}</p>
            <div *ngIf="environmentDetails.isPublisher">
                <button>delete Desktop Environment</button>
            </div>
        </div>
    </div>
</main>