.distibution {
    display: flex;
    padding: 3%;
    border-radius: 10px;
    background: #ffb37c;
}

.distibution img {
    /* width: 16%; */
    max-width: 100px;
    margin-right: 1em;
    margin-bottom: 1em;

}

.commentaries {
    width: 70%;
    margin: 0 auto;
}

.publisher {
    text-align: right;
}

.headline {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.edit-button{
    margin: 0 2% 0 2%;
}