<main *ngIf="!isLoading">
    <div class="distibution">
        <h2>{{distributionDetails.name}}</h2>
        <div class="information">
            <div>
                <img src="{{distributionDetails.image}}" alt="" />
            </div>
            <div>
                <h3>{{distributionDetails.name}}</h3>
                <p>{{distributionDetails.description}}</p>
            </div>
        </div>
        <div class="publisher">
            <p>publisher {{userName}}</p>
            <!-- <div *ngIf="distributionDetails.isPublisher">
                <button>delete Distribution</button>
            </div> -->
        </div>
    </div>
</main>