<p>header works!</p>

<header>
    <nav>
        <div>
            <a routerLink="/">Home</a>
            <a routerLink="/distribution">Linux distributions</a>
            <!-- <a href="/search">Search</a> -->
        </div>
        <div *ngIf="isLogged" class="user">
            <a routerLink="/distribution/add">Add distribution</a>
            <a (click)="logout()">Logout</a>
        </div>
        
        <div *ngIf="!isLogged" class="guest">
            <a routerLink="/user/login">Login</a>
            <a routerLink="/user/register">Register</a>
        </div>
    </nav>
</header>
