<header>
    <nav>
        <div>
            <a routerLink="/">Home</a>
            <a routerLink="/system">Linux Systems</a>
            <!-- <a href="/search">Search</a> -->
        </div>
        <div *ngIf="isLogged" class="user">
            <a routerLink="/system/add">add System</a>
            <a routerLink="/environment">Environments</a>
            <a routerLink="/environment/add">add Environment</a>
            <a routerLink="/distribution">Distributions</a>
            <a routerLink="/distribution/add">add Distribution</a>
            <a (click)="logout()">Logout</a>
        </div>
        
        <div *ngIf="!isLogged" class="guest">
            <a routerLink="/user/login">Login</a>
            <a routerLink="/user/register">Register</a>
        </div>
    </nav>
</header>
