header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #495e8d;
}

nav {
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
    color: white;
}

nav a {
    font-size: 1.5rem;
    color: #0a0a0a;
    font-weight: 400;
}

header a {
    padding: 0 10px;
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}

header a:hover {
    color: rgb(202, 203, 204);
}
