form {
    text-align: left;
    margin-left: 25%;
}

h2 {
    text-align: center;
}

label,
.select span {
    margin-right: 1%;
    width: 240px;
    display: inline-block;
}

.distributionName,
.select,
.distributionDescription,
.distributionImage {
    margin: 1%;
}

.distributionName input{
    width: 20%;
}

.distributionDescription label {
    vertical-align: top;
}

.distributionDescription textarea {
    width: 30%;
}

.distributionImage input {
    width: 45%;
}