main{
    margin: 1%;
}

form{
    text-align: center;
}

h2 {
    text-align: center;
}

label,
.select span {
    margin-right: 1%;
    width: 290px;
    display: inline-block;
}

.environmentName,
.environmentDescription,
.environmentImage {
    margin: 1%;
    text-align: left;
    margin-left: 17%;
}

.environmentName input {
    width: 15%;
}

.environmentDescription label {
    vertical-align: top;
}

.environmentDescription textarea {
    width: 30%;
}

.environmentImage input {
    width: 55%;
}

