<main>
    <h2 *ngIf="environmentsAll.length > 0">All desktop environments</h2>
    <a routerLink="/environment/add" class="add">add new Desktop Environment</a>

    <ul *ngIf="environmentsAll.length > 0">
        <li *ngFor="let environment of environmentsAll">
            <a routerLink="/environment/{{environment._id}}/details">
                <img src="{{environment.image}}"/>
                <h3>{{environment.name}}</h3>
                <span>Details</span>
            </a>
        </li>
    </ul>
    
    <div id="no-environment" *ngIf="environmentsAll.length == 0">
        <h2>There are no environments</h2>
    </div>
</main>
